<select #langSelect (change)="translate.use(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang"
    [attr.selected]="lang === translate.currentLang ? '' : null">{{lang}}</option>
</select>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLanguages" data-bs-toggle="dropdown"
    aria-expanded="false">
    Languages
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownLanguages">



    <li><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-in"></span>India</a> </li>
    <li><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-gb"></span>UK</a></li>
    <li><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-gr">Greek</span></a></li>
  </ul>
</div>